//Source Nodes
- for (var i=1; i <= 2; i++) { 
    // row
    - var k=1;
    - for (var j=1; j <= 64; j++) { 
        - skip=[1,2,8,14,20,26,32,33,39,45,51,57,63,64]
        // column
        -if (skip.indexOf(j) > -1){
            div.node_blank
        -}
        - else{
            - var l = (((i+64)*100)+k)
            div(id=l).node
                div.node_point
            - k=k+1;
        -}
    - }
div.break
-}

hr

// 5 x 64 nodes breadboard
- for (var i=10; i > 5; i--) { 
    // row
    - for (var j=1; j <= 64; j++) { 
        // column
        -var l = ((j*100)+i)
        div(id=l).node
            div.node_point
    - }
    div.break
- }

hr

// 5 x 64 nodes breadboard
- for (var i=5; i > 0; i--) { 
    // row
    - for (var j=1; j <= 64; j++) { 
        // column
        -var l = ((j*100)+i)
        div(id=l).node
            div.node_point
    - }
    div.break
- }

hr

//Source Nodes
- for (var i = 13; i <= 14; i++) { 
    // row
    - var k=1;
    - for (var j=1; j <= 64; j++) { 
        - skip=[1,2,8,14,20,26,32,33,39,45,51,57,63,64]
        // column
        -if (skip.indexOf(j) > -1){
            div.node_blank
        -}
        - else{
            - var l = (((i+54)*100)+k)
            div(id=l).node
                div.node_point
            - k=k+1;
        -}
    - }
div.break
-}